
@model List<Optik.DTO.FooterDTOs.ResultFooterDto>

<footer>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 offset-md">
                    <ul class="location_icon">
                        @foreach (var item in Model)
                        {
                            <li><a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x14c0797c51f23903:0x1119cb332ce65606?sa=X&ved=1t:8290&ictx=111"><i class="fa fa-map-marker" aria-hidden="true"></i></a><br>@item.Adress</li>
                            <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i></a><br> @item.PhoneNumber</li> 
                            <li><a href="@item.InstagramURL"><i class="fa fa-instagram" aria-hidden="true"></i></a><br> @item.Email</li>
                        }
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>© @DateTime.Now.Year Tum Haklari Saklidir.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>